<html>
<head>
	<title></title>
</head>
<body>
	<h1> My To Dos </h1>
	
	<ul>
		<% todo_list.each_with_index do |todo, i| %>
			<li><%= todo %></li>
			<form action="/remove/<%= i %>" method="POST">
				<input type="submit" value="Done">
			</form>
		<% end %>
	</ul>

	<form action="/add" method="POST">
		Add something: 
		<input type="text" name="todo">
		<input type="submit" value="Add">
	</form>

</body>
</html>


 <!-- no = means do not output the following. we don't want to see all the to dos at the same time, we want to see each to do individually -->